<div class="row">
    <footer id="footer">
        <div>
            <a href=""><img src="../../../assets/Githublogo.jpg" alt="" id= "github"></a>
            <a href=""><img src="../../../assets/FBlogo.jpg" alt="" id= "facebook"></a>
            <a href=""><img src="../../../assets/Instagramlogo.jpg" alt="" id= "instagram"></a>
            <a href=""><img src="../../../assets/Linkedinlogo.jpg" alt="" id= "linkedin"></a>
            <a href=""><img src="../../../assets/Githublogo.jpg" alt="" id= "algunomas"></a>
        </div>
        <p>Joaquin Bello | Argentina Programa 2022
        </p>
        <p>Buenos Aires, Argentina</p>
    </footer>
</div>