.experience {
    width: 100%;
    background-color: var(--clr-dark);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-superlight);
    text-align: left;
    margin-left: 20px;
    padding: 3em;

 }
 .section__tittle--experience {
    color: var(--clr-accent);
    position: relative;
    margin-left: 20px;
 }

 .section__tittle--experience::after {
    content: '';
    display:block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 1;
 }

 h3{
   margin-left: 25px;
 }

 .services {
    margin-bottom: 4em;
 }

 ::marker {
   color: white;
}
 /*.service {
    padding-left: 5em;
 }*/

 @media (min-width: 576px) {
    .services {
        display: block;
        max-width: 90%;
       /* margin: 0 auto; */
      }

      li + li {
         margin-top: 2em;
      }

      p {
         padding-top: 1em;
         padding-left: 0.5em;
      }
      .works__img {
         display: inline block;
         grid-area: img;
         left: 12px;
         border-radius: 15%;
         max-width: 125px;
         min-height: 100px;
         max-height: 125px;
         margin-top: 0.25em;
         margin-right: 0.25em;
         position: relative;
         z-index: 0;
         opacity: 0.75;

      }

 }
 @media (min-width:576px),(max-width:700px) {
   .works__img {
      left: -50px;
   }
 }

 @media (max-width: 575px) {

   .services {
       display: block;
       max-width: 90%;
      /* margin: 0 auto; */
   }

     li + li {
        margin-top: 0;
     }

   .works__img {
       display: inline block;
       grid-area: img;
       left: 8px;
       border-radius: 15%;
       max-width: 100px;
       margin-top: 0.25em;
       margin-bottom: 0.25em;
       margin-right: 0.25em;
       position: relative;
       z-index: 0;
       opacity: 0.75;

   }

   p {
      text-align: left;
      margin-top: 0.5em;
      ;
   }

}

 .row {
   align-items: center;
 }

 @media (min-width: 900px){
   .works__img{
      left:0;
   }
 }