.row {
    margin-top: 5px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 10px;
}
div{
    background-color: #46726b;
    color: #131313;
}
#nombre{
    margin-top: 15px;
    text-align: left;
}

#sub {
    max-width: 90%;
    text-align: right;
}

#profile-image {
    border-radius: 10%;
}
@media(min-width: 576px){
    #profile-image {
        min-width: 135px;
        max-width: 180px;
        position:absolute;
        width: 25%;
        border-radius: 10%;
        box-shadow: none;
        top:605px;
        }
    #nombre {
        margin-left: 15px;
    }

}

@media(max-width: 575px){
    #profile-image {
        width: 135px;
        margin-top: -5em;

    }
    #sub {
        max-width: 100%;
        padding-bottom: 1em;
    }
    #nombre{
        text-align: right;
        margin-top: -1em;
    }
    .row{
        padding-left: 10%;
        padding-right: 10%;
    }
}

