<div class="row"> 
 <section class="experience" id="experience">
        <h2 class="section__title section__title--experience">Formacion Academica</h2>
        <div class="services">
            <div class="row">
                <div class="col-lg-12">
                    <ul>
                        <li>
                            <h3>Argentina Programa</h3>
                            <div class="row">     
                                <div class="col-lg-1"></div>          
                                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-9"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit omnis quis natus libero beatae magnam, sapiente eligendi neque deserunt, ab debitis quibusdam adipisci asperiores laboriosam repellat atque perspiciatis blanditiis!
                                    <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere non atque possimus fuga nesciunt recusandae animi nam totam, saepe temporibus rem provident placeat enim! Recusandae nihil expedita quos dolorem facere!
                                </p> 
                                </div>
                                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"><img src="../../../assets/APlogocuadrado.png" alt="Logo de WCI" class="works__img"></div>                                               
                            </div>                        
                        </li>
                        <li>
                            <h3>Universidad de Morón</h3>
                            <div class="row">                        
                                <div class="col-lg-1"></div>          
                                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-9"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit omnis quis natus libero beatae magnam, sapiente eligendi neque deserunt, ab debitis quibusdam adipisci asperiores laboriosam repellat atque perspiciatis blanditiis!
                                    <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere non atque possimus fuga nesciunt recusandae animi nam totam, saepe temporibus rem provident placeat enim! Recusandae nihil expedita quos dolorem facere!
                                </p> 
                                </div>    
                                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"><img src="../../../assets/UMlogo.png" alt="Logo de Forcam S.A" class="works__img" ></div>                        
                            </div>
                        </li> <!--Experiencia-->

                        <li>
                            <h3>Insitituto Inamculada Castelar</h3>
                            <div class="row">                        
                                <div class="col-lg-1"></div>          
                                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-9"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit omnis quis natus libero beatae magnam, sapiente eligendi neque deserunt, ab debitis quibusdam adipisci asperiores laboriosam repellat atque perspiciatis blanditiis!
                                    <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere non atque possimus fuga nesciunt recusandae animi nam totam, saepe temporibus rem provident placeat enim! Recusandae nihil expedita quos dolorem facere!
                                </p> 
                                </div>
                                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"><img src="../../../assets/IIClogo.png" alt="Logo de Autoandina" class="works__img" ></div>                            
                            </div>
                        </li> <!--Experiencia-->
                        
                        <li>
                            <h3>Scuola Bilingue Ugo Foscolo</h3>
                            <div class="row">              
                                <div class="col-lg-1"></div>          
                                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-9"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit omnis quis natus libero beatae magnam, sapiente eligendi neque deserunt, ab debitis quibusdam adipisci asperiores laboriosam repellat atque perspiciatis blanditiis!
                                    <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere non atque possimus fuga nesciunt recusandae animi nam totam, saepe temporibus rem provident placeat enim! Recusandae nihil expedita quos dolorem facere!
                                </p>                            
                                </div>  
                                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"><img src="../../../assets/SUFlogo.jpg" alt="Logo de La Fabrica" class="works__img" ></div> 
                            </div>
                        </li> <!--Experiencia-->
                    </ul>
                </div>    
            </div>
        </div> <!--Experiencias todas-->
    </section>
</div>