<div class="row">
    <div class="text-center col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="''"
            [imageHeight]="70"
            [imageWidth]="70"
            [showImage]="false"
            [showUnits]="true"
            [showSubtitle]="true"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="750"
        ></circle-progress>
    </div>
    <div class="text-center col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="''"
            [imageHeight]="70"
            [imageWidth]="70"
            [showImage]="false"
            [showUnits]="true"
            [showSubtitle]="true"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="750"
        ></circle-progress>
    </div>
    <div class="text-center col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="''"
            [imageHeight]="70"
            [imageWidth]="70"
            [showImage]="false"
            [showUnits]="true"
            [showSubtitle]="true"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="750"
        ></circle-progress>
    </div>
    <div class="text-center col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="''"
            [imageHeight]="70"
            [imageWidth]="70"
            [showImage]="false"
            [showUnits]="true"
            [showSubtitle]="true"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="750"
        ></circle-progress>
    </div>
    <div class="text-center col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="''"
            [imageHeight]="70"
            [imageWidth]="70"
            [showImage]="false"
            [showUnits]="true"
            [showSubtitle]="true"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="750"
        ></circle-progress>
    </div>
    <div class="text-center col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="''"
            [imageHeight]="70"
            [imageWidth]="70"
            [showImage]="false"
            [showUnits]="true"
            [showSubtitle]="true"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="750"
        ></circle-progress>
    </div>    
</div>