<div class="row">
    <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12" id="hystitle">
        <h2><strong>Hard</strong> & <strong>Soft</strong> Skills</h2> 
        <h4>Habilidades técnicas, atributos y aptitudes</h4>
    </div>
    <div class="text-center col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [imageSrc]= "''"
            [imageHeight]="70"
            [imageWidth]="70"
            [showImage]="false" 
            [showUnits]="false"
            [showTitle]="true"
            [showSubtitle]="true"
            [title]="'Administración'"
            [titleColor]="'whitesmoke'"
            [subtitle]="'& Contabilidad'"
            [subtitleFontSize]="'20'"
            [subtitleColor]="'whitesmoke'"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#4EA8A8'"
            [innerStrokeColor]="'#7BA8A8'"
            [animation]="true"
            [animationDuration]="750"
        ></circle-progress>
    </div>
    <div class="text-center col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]= "''"
            [imageHeight]="70"
            [imageWidth]="70"
            [showImage]="false" 
            [showUnits]="false"
            [showTitle]="true"
            [showSubtitle]="true"
            [title]="'Gestión'"
            [titleColor]="'whitesmoke'"
            [subtitle]="'de Proyectos'"
            [subtitleFontSize]="'20'"
            [subtitleColor]="'whitesmoke'"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#4EA8A8'"
            [innerStrokeColor]="'#7BA8A8'"
            [animation]="true"
            [animationDuration]="750"
        ></circle-progress>
    </div>
    <div class="text-center col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [imageSrc]= "''"
            [imageHeight]="70"
            [imageWidth]="70"
            [showImage]="false" 
            [showUnits]="false"
            [showTitle]="true"
            [showSubtitle]="true"
            [title]="'Software &'"
            [titleColor]="'whitesmoke'"
            [subtitle]="'Programación'"
            [subtitleFontSize]="'20'"
            [subtitleColor]="'whitesmoke'"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#4EA8A8'"
            [innerStrokeColor]="'#7BA8A8'"
            [animation]="true"
            [animationDuration]="750"
        ></circle-progress>
    </div>
    <div class="text-center col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [imageSrc]= "''"
            [imageHeight]="70"
            [imageWidth]="70"
            [showImage]="false" 
            [showUnits]="false"
            [showTitle]="true"
            [showSubtitle]="true"
            [title]="'Fast Learning'"
            [titleColor]="'whitesmoke'"
            [subtitle]="'& Adaptación'"
            [subtitleFontSize]="'20'"
            [subtitleColor]="'whitesmoke'"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#4EA8A8'"
            [innerStrokeColor]="'#7BA8A8'"
            [animation]="true"
            [animationDuration]="750"
        ></circle-progress>
    </div>
    <div class="text-center col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]= "''"
            [imageHeight]="70"
            [imageWidth]="70"
            [showImage]="false" 
            [showUnits]="false"
            [showTitle]="true"
            [showSubtitle]="true"
            [title]="'Solución'"
            [titleColor]="'whitesmoke'"
            [subtitle]="'de Problemas'"
            [subtitleFontSize]="'20'"
            [subtitleColor]="'whitesmoke'"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#4EA8A8'"
            [innerStrokeColor]="'#7BA8A8'"
            [animation]="true"
            [animationDuration]="750"
        ></circle-progress>
    </div>
    <div class="text-center col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [imageSrc]= "''"
            [imageHeight]="70"
            [imageWidth]="70"
            [showImage]="false" 
            [showUnits]="false"
            [showTitle]="true"
            [showSubtitle]="true"
            [title]="'Trabajo '"
            [titleColor]="'whitesmoke'"
            [subtitle]="'en Equipo'"
            [subtitleFontSize]="'20'"
            [subtitleColor]="'whitesmoke'"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#4EA8A8'"
            [innerStrokeColor]="'#7BA8A8'"
            [animation]="true"
            [animationDuration]="750"
        ></circle-progress>
    </div>
  </div>