<div class="row">
    <section class="experience" id="experience">
        <h2 class="section__title section__title--experience">Experiencia</h2>
        <div class="services">
            <div class="row">
                <div class="col-sm-1 col-md-1 col-lg-1"></div>
                <div class="col-sm-11 col-md-11 col-lg-11">
                    <ul>
                        <li>
                            <h3>Wanted Crew Int</h3>
                            <div class="row">                        
                                <div class="text-center col-xs-12 col-sm-2 col-md-2 col-lg-2"><img src="../../../assets/WCIlogo.png" alt="Logo de WCI" class="works__img" id="fotowanted"></div> 
                                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-9"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit omnis quis natus libero beatae magnam, sapiente eligendi neque deserunt, ab debitis quibusdam adipisci asperiores laboriosam repellat atque perspiciatis blanditiis!
                                    <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere non atque possimus fuga nesciunt recusandae animi nam totam, saepe temporibus rem provident placeat enim! Recusandae nihil expedita quos dolorem facere!
                                </p> 
                                </div>                           
                            </div>                        
                        </li>
                        <li>
                            <h3>Forcam S.A.</h3>
                            <div class="row">                        
                                <div class="text-center col-xs-12 col-sm-2 col-md-2 col-lg-2"><img src="../../../assets/Forcamlogo.png" alt="Logo de Forcam S.A" class="works__img" ></div> 
                                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-9"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit omnis quis natus libero beatae magnam, sapiente eligendi neque deserunt, ab debitis quibusdam adipisci asperiores laboriosam repellat atque perspiciatis blanditiis!
                                    <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere non atque possimus fuga nesciunt recusandae animi nam totam, saepe temporibus rem provident placeat enim! Recusandae nihil expedita quos dolorem facere!
                                </p> 
                                </div>                           
                            </div>
                        </li> <!--Experiencia-->
                    </ul>
                </div>    
            </div>
        </div> <!--Experiencias todas-->
    </section>
</div>                        

