<div class="row">
    <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12" id="hystitle">
        <h2><strong>Idiomas</strong></h2> 
        <h4>Basado en los niveles de escritura, habla, y comprensión.</h4>
    </div>
    <div class="text-center col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <circle-progress
            [percent]="95"
            [radius]="100"
            [imageSrc]= "''"
            [imageHeight]="70"
            [imageWidth]="70"
            [showImage]="false" 
            [showUnits]="false"
            [showTitle]="true"
            [showSubtitle]="false"
            [title]="'Inglés'"
            [titleColor]="'whitesmoke'"
            [subtitle]="''"
            [subtitleFontSize]="'20'"
            [subtitleColor]="'whitesmoke'"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#4EA8A8'"
            [innerStrokeColor]="'#7BA8A8'"
            [animation]="true"
            [animationDuration]="750"
        ></circle-progress>
    </div>
    <div class="text-center col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="100"
            [imageSrc]= "''"
            [imageHeight]="70"
            [imageWidth]="70"
            [showImage]="false" 
            [showUnits]="false"
            [showTitle]="true"
            [showSubtitle]="false"
            [title]="'Italiano'"
            [titleColor]="'whitesmoke'"
            [subtitle]="'de Proyectos'"
            [subtitleFontSize]="'20'"
            [subtitleColor]="'whitesmoke'"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#4EA8A8'"
            [innerStrokeColor]="'#7BA8A8'"
            [animation]="true"
            [animationDuration]="750"
        ></circle-progress>
    </div>
    <div class="text-center col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <circle-progress
            [percent]="40"
            [radius]="100"
            [imageSrc]= "''"
            [imageHeight]="70"
            [imageWidth]="70"
            [showImage]="false" 
            [showUnits]="false"
            [showTitle]="true"
            [showSubtitle]="false"
            [title]="'Portugés'"
            [titleColor]="'whitesmoke'"
            [subtitle]="''"
            [subtitleFontSize]="'20'"
            [subtitleColor]="'whitesmoke'"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#4EA8A8'"
            [innerStrokeColor]="'#7BA8A8'"
            [animation]="true"
            [animationDuration]="750"
        ></circle-progress>
    </div>
</div>